/* Colores de la pagina jade #28B78D azul marino #243743 gris #8A949B blanco #FAFAFA*/
/* Fuentes font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif; */

/*Clases prediseñadas */
/*Cuados de entrada de texto*/
.text>input{
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  /*-webkit-border-radius: 21px;*/
  border-radius: 21px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  /*-o-text-overflow: ellipsis;*/
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  /*-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;*/
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  /*-webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);*/
  /*-moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);*/
  /*-o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);*/
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.text>input:hover{
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  /*-webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);*/
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.text>input:focus {
  width: 213px;
  cursor: default;
  padding: 0 20px 0;
  color: rgba(255,255,255,1);
  /*-webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);*/
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}


form>.text{
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  height: 42px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  border-radius: 21px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
}
form>.text:hover{
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
}
form>.input:focus {
  width: 213px;
  cursor: default;
  padding: 0 20px 0;
  color: rgba(255,255,255,1);
}
/*Boton estandar*/
.perfilF .boton{
  margin-top: 21px;
}
.boton {
  display: inline-block;
  /*-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;*/
  box-sizing: content-box;
  margin: 0.5em;
  padding: 0 1.5em;
  border: 1px solid rgba(211,211,211,1);
  /*-webkit-border-radius: 0.2em;*/
  border-radius: 0.2em;
  font: normal normal bold 1em/2em Arial, Helvetica, sans-serif;
  color: rgba(114,114,114,1);
  /*-o-text-overflow: clip;*/
  text-overflow: clip;
  white-space: nowrap;
  background: rgba(234,234,234,1);
  /*-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) , 0 1px 0 0 rgba(0,0,0,0.298039) ;*/
  box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) , 0 1px 0 0 rgba(0,0,0,0.298039) ;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8) ;
  /*-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;*/
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.boton:hover {
  cursor: pointer;
  border: 1px solid rgba(178,178,178,1);
  color: rgba(76,76,76,1);
  /*-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) ;
  */box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) ;
}

.boton:active {
  position: relative;
  cursor: default;
  top: 1px;
  border: 1px solid rgba(211,211,211,1);
  color: rgba(114,114,114,1);
  background: rgba(247,247,247,1);
  /*-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) inset;
  */box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 0 rgba(0,0,0,0.298039) inset;
  /*-webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;*/
  transition: none;
}
.boton i{
  vertical-align: top;
  margin-top: 3px;
}

p.registro{
  text-align: center;
}

/*fin clases prediseñadas*/

/* Contenido de la web*/

body{
  background-image: url("../images/background.png");
  font-family: arial, sans-serif;
  color: #FAFAFA;
  margin: 0px;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

/*Formato header*/
header{
  height: 20%;
  padding: 1%;
  background-color: #243743;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.text>label{
  position: absolute;
  left: -10000px;
}
#logo{
  width: 7%;
  display: inline-block;
  margin: 1vh;
}
#logo img{
  width: 100%;
}
header form{
  margin: 1vh;
}

.search{
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  width: 25%;
}
.search input{
  margin-top: 0;
  width: 60%;
}
.search button{
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 5px;
  width: 15%;
}
.loginF, .loginF *{
  display: inline-block;
}
.loginF{
  float: right;
  position: relative;
  margin-bottom: 15px;
}
.absol{
  position: absolute;
  margin-top: 50px;
  left: 5px;
}

.perfilF {
  display: inline-block;
  float: right;
}
.perfilF>*{
  display: inline-block;
  vertical-align: top;
  margin: 5px 5px 0 5px;
}
.perfilF img{
  width: 60px;
  border-radius: 50%;
}
#perfil2{
  width: 80px;
  height: 60px;
  border-radius: 25%;
}
#perfilText{
  margin-top: 30px;
}

.formM{
  padding: 15px;
}
.formM label,.formM input,.formM select,.formM button{
  margin: 10px;
}

.index{
  position: relative;
  width: 80%;
  left: 10%;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
  color: inherit;
}
h1.index{
  font-size: 4vh;
}
h3.index{
  background-color: red;
  font-size: 2vh;
}
.show{
  display: inline;
}


/*Formato del main*/
main{
  position: relative;
  background-color: #8A949B;
  width: 70%;
  margin-left: 12.5%;
  margin-top: 8%;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left:2.5%;
  padding-right:2.5%;
  border-radius: 5px 5px 5px 5px;
  /*
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px ;*/
  border: 0px solid #000000;
}

#titulo{
  float: left;
  margin-bottom: 10px;
}
#fecha{
  text-align: right;
  font-size: 1em;
  margin-bottom: 50px;
}
#detalleImg{
  text-align: center;
}
/*Estilo DETALLE IMAGEN*/
.propietarioImagen>*{
  display: inline-block;
  vertical-align: top;
  margin: 0px 5px 0px 5px;
}
.propietarioImagen p{
  margin-top: 20px;
}
.propietarioImagen img{
  width: 80px;
  height: 60px;
  border-radius: 25%;

}
/*Formato articulo*/
article{
  display: inline-block;
  position: relative;
  width: 18.2%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1%;
  /*border-radius: 10px 10px 10px 10px;*/
}
article img{
  border-radius: 2%;
  width: 100%;
}

/*Estilo solicitar album*/
#tarifas{
  position: relative;
  margin: 0px 0px 0px 0px;
  bottom: 50%;
  display: block;
  width: 100%;
}
#tableTarifas{
  width: 100%;
}
#explicacion{
  position: relative;
  text-align: center;
  font-size: 3vh;
}
#formRegistro{
  position: relative;
  width: 100%;
}



/* Pie de pagina*/
footer{
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #243743;
  height: 5%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
  font-size: 1.5vh;
  margin: 10px;
}
